{% extends "base.html" %}
{% block title %}O nas{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-center">O našem studiu</h1>
<p class="max-w-3xl mx-auto text-center mb-4">
    Smo profesionalni frizerji z dolgoletnimi izkušnjami. Naša strast je ustvarjanje stilov, ki vam ustrezajo in vas osrečijo.
</p>
<p class="max-w-3xl mx-auto text-center">
    Naš cilj je, da vsak obisk pri nas postane prijetna izkušnja. Prijazno osebje, udobno okolje in vrhunske storitve.
</p>
{% endblock %}
