body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 10px;
}
